*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
    background-image: radial-gradient(#2A475E, #1B2838 );
    min-height: 100vh;
}
.cabeza{
    height: 100px;
    background-color: #003147;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.sesion{
    display: flex;
    justify-content: right;
    
}
