*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
    background-image: radial-gradient(#194766, #0d2740);
    min-height: 100vh;
}