.overlay{
    background: rgba(0,0,0,0.3);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease all;
    visibility: hidden;
}
.eduw {
    z-index: 1;
    position: absolute;
    display: flex;
    width: max-content;
    height: max-content;
    background: #194766;
    border-style: solid;
    border-color: #206487;
    min-width: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    transition: 0.5s ease all;
    transform: scale(0.5);
    opacity: 0;
}
.cerrar{
    position: absolute;
    left: 97%;
    right: 0;
}
.educacion{
    margin: 0;
    min-height: 50%;
    min-width: 50%;
    width: 75%;
    font-size: 20px;
    color: #B8BCBF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    height: 50%;
}
img{
    width: max-content;
    height: 85px;
}
.secundaria{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    width: max-content;
}
.cursos{
    margin-left: 10px;
}
.pc{
    display: flex;
    margin-bottom: 10px;
}
.argentina_programa{
    margin-bottom: 10px;
    display: flex;
}
.laburo {
    min-height: 50%;
    min-width: 50%;
    width: 75%;
    font-size: 20px;
    color: #B8BCBF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    height: 50%;
}

img {
    width: max-content;
    height: 66px;
}

.biomedic {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
}
.info_comp{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
.info_comp .enter{
    margin-left:1%;
    margin-right: 1%;
    height: 150px;
    width: 300px;
    background-color: #206487;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    
}
.enter:hover{
    background-image:linear-gradient(90deg, #4eccfa,#4ec5ff);
    transform: scale(1.2);
    margin-left: 5%;
    margin-right: 5%;
}