<div class="info_comp">
    <a href="javascript:abrir(1)" class="enter">
        <h1>PROYECTOS</h1>
    </a>
    <a href="javascript:abrir(2)" class="enter">
        <h1>EXPERIENCIA</h1>
    </a>
    <a href="javascript:abrir(3)" class="enter">
        <h1>EDUCACION</h1>
    </a>
</div>
<div class="overlay" id="overlay">
<div class="eduw" id="3">
    <div class="cerrar">
        <a href="javascript:cerrar(3)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill"
                viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
            </svg>
        </a>
    </div>
    <div class="educacion">
        <div class="secundaria">
            <img src="" alt="">
            <div class="info">
                <p>EEST N°8 MORON</p>
                <H5>TECNICO EN ELECTRONICA</H5>
                <h6>2016-2022</h6>
            </div>
        </div>
        <div class="cursos">
            <div class="pc">
                <img src="imagenes/th-1794450002.jpg" alt="">
                <div class="info">
                    <p>UTN HAEDO</p>
                    <H5>CURSO DE REPARACION DE PC</H5>
                    <h6>Abril 2019 - Septiembre 2019</h6>
                </div>
            </div>
    
            <div class="argentina_programa">
                <img src="imagenes/MINIATURA-ARGEPROGR.jpg" alt="">
    
                <div class="info">
                   <p>ARGENTINA PROGRAMA</p>
                    <div class="info1">
                        <p>1° ETAPA #SeProgramar</p>
                        <h5></h5>
                        <h6>Junio 2022</h6>
                    </div>
                    <div class="info2">
                        <p>2° ETAPA #YoProgramo</p>
                        <H5>CURSO DE DESARROLLO WEB FULL STACK</H5>
                        <h6>En curso</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="eduw" id="2">
    <div class="cerrar">
        <a href="javascript:cerrar(2)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill"
                viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
            </svg>
        </a>
    </div>
    <div class="laburo">
        <div class="biomedic">
            <img src="imagenes/logoBlanco.png" alt="">
            <div class="info">
                <p>Biomedic</p>
                <H5>Servicio Tecnico</H5>
                <h6>Dic 2021 - Nov 2022</h6>
            </div>
        </div>
    </div>
</div>
<div class="eduw" id="1">
    <div class="cerrar">
        <a href="javascript:cerrar(1)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
            </svg>
        </a>
    </div>
    <div class="experiencia">
        <div class="">
            <img src="" alt="">
            <div class="info">
                <p>UPS ACA NO HAY NADA TODAVIA</p>
                <H5></H5>
                <h6></h6>
            </div>
        </div>
    </div>
</div>
</div>