<div class="eduw" id="3">
    <header>
        <div class="cerrar">
            <a routerLink="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                  </svg>
            </a>
        </div>
        <h1 class="edu">EDUCACION</h1>
    </header>
    <div class="educacion">
        <h1>Secundario y Universidad</h1>
        <div class="secundaria">
            
            <div class="img">
            <img src="" alt="">
            <div class="info">
                <p>EEST N°8 MORON</p>
                <H5>TECNICO EN ELECTRONICA</H5>
                <h6>2016-2022</h6>
            </div>
        </div>
        </div>
        <h1>CURSOS</h1>
        <div class="cursos">
            <div class="img">
                <img class="utn "src="../../../assets/imagenes/th-1794450002.jpg" alt="">
                <div class="info">
                    <p>UTN HAEDO</p>
                    <H5>CURSO DE REPARACION DE PC</H5>
                    <h6>Abril 2019 - Septiembre 2019</h6>
                </div>
            </div>
            <div class="img">
                <img class="arg_pro"src="../../../assets/imagenes/MINIATURA-ARGEPROGR.jpg" alt="">
    
                <div class="info1">
                   <p>ARGENTINA PROGRAMA</p>
                    <div class="info2">
                        <p>1° ETAPA #SeProgramar</p>
                        <h5></h5>
                        <h6>Junio 2022</h6>
                    </div>
                    <div class="info3">
                        <p>2° ETAPA #YoProgramo</p>
                        <H5>CURSO DE DESARROLLO WEB FULL STACK</H5>
                        <h6>En curso</h6>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
<footer>
    <div class="footer">

    </div>
</footer>