
h1{
    display: flex;
    justify-content: center;
}
h6{
    margin:5px
}
h5{
    margin: 5px;
}
p{
    margin: 5px;
}
header{
    display: flex;
    margin-bottom: 5%;
}
.eduw{
    min-height: 100vh;
}
.edu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
}
.educacion{
    font-size: 20px;
    color: #B8BCBF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    min-height: 100vh;
}
.img{
    position: relative;
    border-style:  solid;
    border-color: #1e80b1;
    margin-right: 20px;
    width: 300px;
    height: 400px;
    background-image:radial-gradient( #1e80b1, #206487);
    z-index: 1;
}
.img:hover{
    background-image:linear-gradient(90deg, #4eccfa,#4ec5ff);
}
.utn{
    position: absolute;
    top: 157.5px;
    left: 107.5px;
    width: max-content;
    height: 85px;
}
.arg_pro{
    position: absolute;
    top: 157.5px;
    left: 87px;
    width: 126px;
    height: 85px;
}
.cerrar{
    margin: 1%;
}
.info{
    position:absolute;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 93px;
    width: 160px;
    top:60%;
    left:25%;
    transition: 1s ease all;
}
.info1{
    position:absolute;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 93px;
    width: 160px;
    top:60%;
    left:25%;
    transition: 1s ease all;
}

svg{
    fill: #4eccfa;
}
svg:hover{
    fill: #1A9FFF;
}
img{
    transition: 1s ease all;
}

.agregar{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    left: 50px;
}
.agregar svg{
    fill: #1A9FFF;

}
.mod{
    position: absolute;
    display: flex;
    top:0;
    right: 10px;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin: 10px;
    z-index: 1;
    background: transparent;
    border: none;
}
.mod1{
    position: absolute;
    display: flex;
    top:0;
    right: 0;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    margin: 10px;
    z-index: 1;
    background: transparent;
    border: none;
}
.mod1 svg{
    display: flex;
    align-items: center;
    fill: #1A9FFF;
    width: 20px;
    height: 20px;
}
.mod svg{
    display: flex;
    align-items: center;
    fill: #1A9FFF;
    width: 20px;
    height: 20px;
}
.edicion{
    position: relative;
    top: 0;
    left: 0;
    background-color: #206487;
    border: none;

}
.nombre{
    position: absolute;
    display: flex;
    align-items: flex-start;
    left: 10%;
    height: 50px;
    margin-top: 50px;
    width: 80%;
    border: solid #1e80b1;
    border-radius: 5px;
}
.trabajo{
    position: absolute;
    height: 100px;
    top: 100px;
    margin-top: 1px;
    width: 80%;
    left: 10%;
    border: solid #1e80b1;
    border-radius: 5px;
}
.fecha{
    position: absolute;
    height: 100px;
    top: 201px;
    margin-top: 1px;
    width: 80%;
    left: 10%;
    border: solid #1e80b1;
    border-radius: 5px;
}
