header{       
    margin:0;
    height: 800px;
    background: url(../../../assets/imagenes/6dde3dec99e720a2e38097bfbb1994cc-348116554.jpg);
    
}
header::before{
    content: "";
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    background-image: radial-gradient(transparent 10%, #0f405b  );
    opacity: 0.8;
}
svg{
    color: white;
    margin-right: 10px;
}
.text{
    display: flex;
}
.curso{
    display: flex;
    flex-wrap: wrap;
    top: 0;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.yoprogramo{
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
}
.red{
    height: 200px;
}
.redes{
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 144px;
}
.cabeza{
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.perfil{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
.menu2{
    position: fixed; 
    background-image: linear-gradient(90deg, #194766, #206487, #194766);
    visibility: hidden;
    opacity: 0;
    width: 100vw; 
    height:  0; 
    top: 0;
    flex-wrap: wrap;
    z-index: 1;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease all;
}
.version{
    position: absolute;
    bottom: 0;
    left: 47.5%;
}
.exit{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    z-index: 1;
}
.exit svg:hover{
    fill: #4eccfa;
}
.options{
    position: relative;
    display: flex;
    border: none;
    background-image: linear-gradient(90deg, #194766, #206487, #194766);
    height: 100px;
    top: 200px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.options:hover{
    background: rgba(243, 243, 243, 0.1);
}
.boton{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    left: 75%;
    bottom: 100%;
    margin-top: 20px;
    margin-right: 10px;
    color: white;
    background: rgba(243, 243, 243, 0.1);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    border: none;
    text-decoration: none;
}
.boton:hover{
    background-image: linear-gradient(90deg, #194766, #206487, #194766);
    color: white;
}
.boton-menu{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    left: 75%;
    bottom: 102%;
    margin-top: 20px;
    margin-right: 10px;
    color: white;
    background: rgba(243, 243, 243, 0.1);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    border: none;
}
.boton-menu:hover{
    background-image: linear-gradient(90deg, #194766, #206487, #194766);
    color: white;
}
.boton-menu svg{
    position: relative;
    left: 5px;

}
.acerca_de{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 700px;
}
.nombre{
    font-family:'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 50px;
    top: 0;
    left: 300px;
    margin-bottom:25px;
}
.img_perfil {
    position: absolute;
    padding: 0;
    height: 250px;
    width: 250px;
    left: 400px;
    top: 150px;
}

.img_perfil img{
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content:  center;
    height: 250px;
    width: max-content;
}
.perf{
    position: relative;
    height: 250px;
    left: 250px;
    bottom:50px;
}
.desc{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    height: max-content;
    left: 25px;
}
.borde{
    height: 3px;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    background: linear-gradient(90deg,transparent, #194766, #206487, #194766,transparent);
    justify-content: center;
    align-items: center;
}
.overlay{
    background: rgba(0,0,0,0.3);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease all;
    visibility: hidden;
}
.eduw {
    z-index: 1;
    position: absolute;
    display: flex;
    width: max-content;
    height: max-content;
    background: #194766;
    border-style: solid;
    border-color: #206487;
    min-width: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    transition: 0.5s ease all;
    transform: scale(0.5);
    opacity: 0;
}
.cerrar{
    position: absolute;
    left: 97%;
    right: 0;
}
.educacion{
    margin: 0;
    min-height: 50%;
    min-width: 50%;
    width: 75%;
    font-size: 20px;
    color: #B8BCBF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    height: 50%;
}
img{
    width: max-content;
    height: 85px;
}
.secundaria{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    width: max-content;
}
.cursos{
    margin-left: 10px;
}
.pc{
    display: flex;
    margin-bottom: 10px;
}
.argentina_programa{
    margin-bottom: 10px;
    display: flex;
}
.laburo {
    min-height: 50%;
    min-width: 50%;
    width: 75%;
    font-size: 20px;
    color: #B8BCBF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    height: 50%;
}
.medio-circulo{
    position: relative;
    width: 100%;
    background-image: linear-gradient(transparent, #0f405b );
    height: 500px;
    bottom: 490px;
    left: 0;
}
.cv{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
img {
    width: max-content;
    height: 66px;
}
.biomedic {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
}
.info_comp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 300px;
}
.enter{
    margin-left:1%;
    margin-right: 1%;
    height: 150px;
    width: 300px;
    background-color: #206487;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    border-style: none;
}
.enter:hover{
    background-image:linear-gradient(90deg, #4eccfa,#4ec5ff);
    transform: scale(2);
    margin-left: 10%;
    margin-right: 10%;
}
.skills{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    color: white;
}
.skill{
    position: relative;
    background-color: #206487;
    margin-right: 2.5%;
    min-width: 20%;
    height: 500px;
    width: max-content;
    border-radius: 5%;
}
.diseño{
    width: 96%;
    margin: 2%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cat{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.menu{
    position: relative;
    border: 2px solid #4eccfa;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
    border-radius: 20px;
}
.menu div{
    position: relative;
    width: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #4eccfa;
}
#html-menu{
    animation: html-barra 2s forwards;
    animation-delay: 4s;
}
@keyframes html-barra{
    100%{
        width:30%;
    }
}
#css-menu{
    animation: css-barra 2s forwards;
    animation-delay: 4s;
}
@keyframes css-barra {
    100%{
        width:15%;
    }
}
#js-menu{
    animation: js-barra 2s forwards;
    animation-delay: 4s;
}
@keyframes js-barra {
    100%{
        width:5%;
    }
}
#angular-menu{
    animation: angular-barra 2s forwards;
    animation-delay: 4s;
}
@keyframes angular-barra {
    100%{
        width: 3%;
    }
}
.social2{
    position: relative;
    height: 25%;
    bottom: 10%;
}
.social{
    position: relative;
    height:25%;
}
.icons svg{
    width: 50px;
    height: 50px;
    margin: 20px;
}
.icons{
    position: relative;
    opacity: 0;
    visibility: hidden;
    display: flex;
    width: 100%;
    height: 30vh;
    background: rgba(243, 243, 243, 0.1);
    justify-content: center;
    top:70%;
    text-align: center;
    transition: 0.5s ease all;
}
.icons2{
    position: relative;
    opacity: 0;
    visibility: hidden;
    display: flex;
    width: 100%;
    height: 20vh;
    background: rgba(243, 243, 243, 0.1);
    justify-content: center;
    top:70%;
    text-align: center;
    transition: 0.5s ease all;
}
.icons2 svg{
    width: 50px;
    height: 50px;
    margin: 20px;
}
