<header>
    <div class="perfil">
        <div class="curso ">
            <h1 class="yoprogramo">Curso #YoProgramo</h1>

        </div>
        <a routerLink="/sesion" class="boton">Sign Up</a>
 </div>
  <div class="acerca_de ">
    <div class="img_perfil">
        <img src="../../../assets/imagenes/IMG_20221212_221947_944.png" class="rounded-5 img-fluid">
    </div>
    <div class="perf">
        <h1 class="nombre">AGUSTIN FRANCISCO DORICICH</h1>
        <h4 class="desc" *ngFor="let descripcion of desc">{{descripcion}}</h4>
        <input type="text" [(ngModel)]="desc[2]" style="display: none;">
    </div>
</div>
<div class="medio-circulo"></div>
</header>
<div class="cv">
<button class="enter">
   <h2>Descarga mi CV</h2>
</button>
</div>
<div class="borde"></div>
<div class="info_comp">
    <a routerLink="/proyectos" class="enter">
        <h1>PROYECTOS</h1>
    </a>
    <a routerLink="/experiencia" class="enter">
        <h1>EXPERIENCIA</h1>
    </a>
    <a routerLink="/educacion" class="enter">
        <h1>EDUCACION</h1>
    </a>
</div>
<div class="borde"></div>
<div class="skills">
    <div class="skill">
    <h2 class="cat"> DISEÑO WEB </h2>
    <div class="diseño">
        <span>HTML</span>
        <span>10%</span>
    </div>
    <div class="menu">
        <div class="html" id="html-menu">
        </div>
    </div>
    <div class="diseño">
    <span>CSS</span>
    <span> 5% </span>
    </div>
    <div class="menu">
        <div class="css" id="css-menu">
        </div>
    </div>
    <div class="diseño">
    <span>JAVASCRIPT</span>
    <span> 1% </span>
    </div>
    <div class="menu">
        <div class="js" id="js-menu">
        </div>
    </div>
    <div class="diseño">
    <span>ANGULAR</span>
    <span> 0% </span>
    </div>
    <div class="menu">
        <div class="angular" id="angular-menu">
        </div>
    </div>
    </div>
    <div class="skill">
        <h2 class="cat"> HABILIDADES BLANDAS </h2>
        <div class="diseño">
            <span>WIP</span>
            <span></span>
        </div>
        <div class="menu">
            <div class="html" id="">
            </div>
        </div>
    </div>
    <div class="skill">
        <h2 class="cat"> HABILIDADES DURAS </h2>
        <div class="diseño">
            <span>WIP</span>
            <span></span>
        </div>
        <div class="menu">
            <div class="html" id="">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>