/* variablers globales */
header{       
    margin:0;
    height: 800px;
    background: url(../../../assets/imagenes/6dde3dec99e720a2e38097bfbb1994cc-348116554.jpg);
    background-repeat: no-repeat;
    background-size: 2560px;
    background-position: 50% 10%;
    background-attachment: local;
}
header::before{
    content: "";
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    background-image: radial-gradient(transparent 10%, #0f405b  );
    opacity: 0.8;
}
svg{
    color: white;
    margin-right: 10px;
}
img{
    width: max-content;
    height: 85px;
}
ul{
    list-style: none;
    padding-right: 32px;
}
li{
    list-style: none;
    padding: 0;
}
/* header */
.perfil{
    position: relative;
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    height: 100px;
    justify-content: space-between;
}
.curso{
    position: relative;
    top: 0;
    height: 100px;
}
.yoprogramo{
    position: relative;
    top:0;
    left: 0;
}
.nav-menu{
    display: flex;
    list-style: none;
    margin-top: 20px;
}
nav.nav-menu{
    padding-right: 1%;
    padding-left: 1%;
}
.row.nav-menu{
    display:none;
}
.nav-link{
    color: white;
    background: rgba(243, 243, 243, 0.1);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    border: none;
    text-decoration: none;
}
.boton{
    position: relative;
    height: 40px;
    width: 150px;
    margin-right: 10px;
}
.boton:hover{
    background-image: linear-gradient(90deg, #194766, #206487, #194766);
}
.boton-menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
}
.boton-menu:hover{
    background-image: linear-gradient(90deg, #194766, #206487, #194766);
}
.boton-menu svg{
    position: relative;
    left: 5px;
}
.menu2{
    position: fixed; 
    background-image: linear-gradient(90deg, #194766, #206487, #194766);
    transform: translateY(-100%);
    visibility: hidden;
    width: 100vw; 
    height:100vh; 
    top: 0;
    z-index: 1;
    transition: 0.5s ease all;
}
.menu2 .container-fluid{
    margin-top: 90px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.exit{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 50px;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    z-index: 1;
}
.exit svg:hover{
    fill: #4eccfa;
}
.options{
    position: relative;
    display: flex;
    background-image: linear-gradient(90deg, #194766, #206487, #194766);
    height: 100px;
    border: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.options:hover{
    background: rgba(243, 243, 243, 0.1);
}
.icons{   
    transform: translateY(-50%) scaleY(0);
    display: flex;
    width: 100%;
    height: 20vh;
    background: rgba(243, 243, 243, 0.1);
    justify-content: center;
    text-align: center;
    transition: 0.5s ease all;
}
.icons svg{
    width: 50px;
    height: 50px;
    margin: 20px;
}
.text-center{
    justify-content: center;
}
.text-center svg{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 40px;
    height: 40px;
}
.famoso{
    position: relative;
    transform: translateY(-80px);
    width: 100%;
    transition: 0.5s ease all;
}
.proyect{
    position: relative;
    transform: translateY(-265px);
    width: 100%;
    transition: 0.5s ease all;
}
.exp{
    position: relative;
    transform: translateY(-265px);
    width: 100%;
    transition: 0.5s ease all;
}
.education{
    position: relative;
    transform: translateY(-265px);
    width: 100%;
    transition: 0.5s ease all;
}
.acerca_de{
    height: 700px;
}
.img_perfil {
    position: relative;
}
.img_perfil img{
    height: 250px;
    width: max-content;
}
.perf{
    position: relative;
}
.nombre{
    font-family:'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 50px;
    margin-bottom:25px;
}
.desc{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    height: max-content;
}

/* separaciones */

.medio-circulo{
    position: relative;
    width: 100%;
    background-image: linear-gradient(transparent, #0f405b );
    height: 500px;
    bottom: 490px;
    left: 0;
}
.borde{
    height: 3px;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    background: linear-gradient(90deg,transparent, #194766, #206487, #194766,transparent);
    justify-content: center;
    align-items: center;
}
.borde1{
    height: 3px;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    background: linear-gradient(90deg,transparent, #194766, #206487, #194766,transparent);
    justify-content: center;
    align-items: center;
}

/* informacion */

.info_comp{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 300px;
}
.enter{
    margin-left:1%;
    margin-right: 1%;
    height: 150px;
    width: 300px;
    background-color: #206487;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    border-style: none;
}
.enter:hover{
    background-image:linear-gradient(90deg, #4eccfa,#4ec5ff);
    transform: scale(2);
    margin-left: 10%;
    margin-right: 10%;
}

/* skills */

.skills{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    color: white;
}
.skill{
    position: relative;
    background-color: #206487;
    margin-right: 2.5%;
    min-width: 20%;
    height: 500px;
    width: max-content;
    border-radius: 5%;
}
.cat{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.diseño{
    width: 96%;
    margin: 2%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.menu{
    position: relative;
    border: 2px solid #4eccfa;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
    border-radius: 20px;
}
.menu div{
    position: relative;
    width: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #4eccfa;
}

/* CV */

.cv{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}


/* animaciones */

#html-menu{
    animation: html-barra 2s forwards;
    animation-delay: 4s;
}
@keyframes html-barra{
    100%{
        width:30%;
    }
}
#css-menu{
    animation: css-barra 2s forwards;
    animation-delay: 4s;
}
@keyframes css-barra {
    100%{
        width:15%;
    }
}
#js-menu{
    animation: js-barra 2s forwards;
    animation-delay: 4s;
}
@keyframes js-barra {
    100%{
        width:5%;
    }
}
#angular-menu{
    animation: angular-barra 2s forwards;
    animation-delay: 4s;
}
@keyframes angular-barra {
    100%{
        width: 3%;
    }
}

/* RESPONSIVE-CELULAR */

@media (max-width: 500px) {
    .icons h3{
        font-size: 10px;
    }
    ul.row.nav-menu{
        display: flex;
    }
    .nav-menu{
        display: flex;
        margin-top: 20px;
    }
    .nav-link{
        color: white;
        background: rgba(243, 243, 243, 0.1);
        text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
        border: none;
        text-decoration: none;
    }
    .boton{
        display: none;
    }
    .boton-menu{
        position: relative;
        display: block;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 100px;
    }
    .boton-menu:hover{
        background-image: linear-gradient(90deg, #194766, #206487, #194766);
    }
    .boton-menu svg{
        position: relative;
        left: 5px;
    }
    .menu2{
        position: fixed; 
        background-image: linear-gradient(90deg, #194766, #206487, #194766);
        transform: translateY(-100%);
        visibility: hidden;
        width: 100vw; 
        height:100vh; 
        top: 0;
        z-index: 1;
        transition: 0.5s ease all;
    }
    .menu2 .boton{
        display: block;
    }
    .exit{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 30px;
        top: 0;
        right: 0;
        background: transparent;
        border: none;
        z-index: 1;
    }
    .exit svg:hover{
        fill: #4eccfa;
    }
    .options{
        position: relative;
        display: flex;
        border: none;
        background-image: linear-gradient(90deg, #194766, #206487, #194766);
        height: 50px;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }
    .options:hover{
        background: rgba(243, 243, 243, 0.1);
    }
    .icons{    
        opacity: 0;
        visibility: hidden;
        display:flex;
        width: 100%;
        height: 10vh;
        background: rgba(243, 243, 243, 0.1);
        justify-content: center;
        bottom: 30%;
        transition: 0.5s ease all;
    }
    .text-center{
        justify-content: center;
    }
    .text-center svg{
        margin-top: 10px;
        padding: 0;
        width: 30px;
        height: 30px;
    }    
    .famoso{
        transform: translateY(1fr);
        width: 100%;
        transition: 0.5s ease all;
    }
    .proyect{
        transform: translateY(0);
        width: 100%;
        transition: 0.5s ease all;
    }
    .exp{
        transform: translateY(0);
        width: 100%;
        transition: 0.5s ease all;
    }
    .education{
        transform: translateY(0);
        width: 100%;
        transition: 0.5s ease all;
    }
    .acerca_de{
        height: 700px;
    }
    .img_perfil {
        position: relative;
    }
    .img_perfil img{
        height: 250px;
        width: max-content;
    }
    .perf{
        position: relative;
    }
    .nombre{
        font-family:'Courier New', Courier, monospace;
        font-weight: 1000;
        font-size: 50px;
        margin-bottom:25px;
    }
    .desc{
        font-family: 'Courier New', Courier, monospace;
        position: relative;
        height: max-content;
    }
    .info_comp{
        display:none;
    }

    /* SEPARACIONES */
    .borde1{
        display: none;
    }

}