header{
    display: flex;
    margin-bottom: 5%;
}
.edu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
}
.cerrar{
    margin: 1%;
}
svg{
    fill: #4eccfa;
}
svg:hover{
    fill: #1A9FFF;
}