.footer{
    position: relative;
    display: flex;
    height: 100px;
    width: 100%;
    bottom: 0;
    top: 100%;
    background-color: #171a21;

}
h4{
    height: max-content;
}
.powered{
    display: flex;
    position: relative;
    left: 15%;
    align-items: center;
}
img{
    position: relative;
    height: 50px;
    margin-left: 5px;
}
.text{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 200px;
    right: 15%;
    top: 5px;
    margin: 0;
}
.contacto{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 200px;
    right: 15%;
    top: 35px;
}
.mail{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 200px;
    right: 15%;
    top: 55px;
}
svg{
    margin-right: 5px;
    color: white;

}
.redes{
    display: flex;
    
    position: absolute;
    height: max-content;
    width: 50px;
    right: 40%;
}
.icons{
    position: absolute;
    display: flex;
    top: 25px;
    height: max-content;
}
