*{
    color: white;
}
h6{
    margin: 5px;
}
h5 {
    margin: 5px;
}

p {
    margin: 5px;
}
.cerrar{
    margin: 1%;
}
header{
    display: flex;
    margin-bottom: 5%;
}
.eduw{
    margin-bottom: 100px;
    min-height: 100vh;
}
.edu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
}
.img .imagen {
    position: absolute;
    top: 150px;
    left: 2.5px;
    width: 290px;
    height: 80px;
    transition: 1s ease all;
}
.biomedic {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    width: max-content;
    border-style: none;
    height: 400px;
}
.img{
    position: relative;
    border-style:  solid;
    border-color: #1e80b1;
    min-width: 300px;
    max-width: 300px;
    height: 400px;
    background-image:radial-gradient( #1e80b1, #206487);
    z-index: 1;

}
.img:hover{
    background-image:linear-gradient(90deg, #4eccfa,#4ec5ff);
}
svg{
    fill: #4eccfa;
}
svg:hover{
    fill: #1A9FFF;
}
.info{
    position:absolute;
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 200px;
    margin: 50px;
    margin-bottom: 30px;
    margin-top: 70px;
    transition: 1s ease all;
}
.button{
    height: 400px;
}
.agregar{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    left: 50px;
}
.agregar svg{
    fill: #1A9FFF;
}
.mod{
    position: absolute;
    display: flex;
    top:0;
    right: 10px;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin: 10px;
    z-index: 1;
    background: transparent;
    border: none;
}
.mod1{
    position: absolute;
    height: 40px;
    width: 150px;
    margin:12px;
    color: white;
    background: rgba(243, 243, 243, 0.1);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    border: none;
    text-decoration: none;
    z-index: 2;
}
.mod1--crear{
    position: relative;
    height: 40px;
    width: 150px;
    margin:12px;
    color: white;
    background: rgba(243, 243, 243, 0.1);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    border: none;
    text-decoration: none;
    z-index: 2;
}
.mod1--borrar{
    position: relative;
    height: 40px;
    width: 150px;
    margin:12px;
    color: white;
    background: rgba(243, 243, 243, 0.1);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    border: none;
    text-decoration: none;
    z-index: 2;
}
.mod1--borrar:hover{
    background-image: linear-gradient(90deg, #194766, #206487, #194766);
}
.mod1:hover{
    background-image: linear-gradient(90deg, #194766, #206487, #194766);
}
.mod svg{
    align-items: center;
    fill: #1A9FFF;
    width: 20px;
    height: 20px;
    margin: 10px;
}
.mod{
    position: relative;
}
.edit{
    position: relative;
    height: 400px;
    width: 300px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(90deg, #194766, #206487, #194766);
}
.edicion{
    position: relative;
    background-color: #206487;
    border: none;
}
.nombre{
    position: relative;
    display: flex;
    align-items: flex-start;
    height: 50px;
    border: solid hsl(200, 71%, 41%);
    border-radius: 5px;
}
.trabajo{
    position: relative;
    height: 100px;
    margin-top: 1px;
    border: solid #1e80b1;
    border-radius: 5px;
}
.fecha{
    position: relative;
    height: 100px;
    margin-top: 1px;
    height: max-content;
    border: solid #1e80b1;
    border-radius: 5px;
}
.container-fluid{
    width: 100vw;
    height: 400px;
    display: flex;
    overflow: auto;
}
.rol{
    position: relative;
    height: 100px;
    margin-top: 1px;
    margin-right: 5px;
    margin-left: 5px;
    height: max-content;
    border: solid #1e80b1;
    border-radius: 5px;
}
.div_new{
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    top:0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.264);
}
.new__add{
    position: relative;
    background-color: #194766;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid #1e80b1;
    z-index: 6;
    overflow: hidden;
}
.menu__button{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    width:25px;
    z-index: 0;
}
.menu__button svg{
    z-index: 10;
}
@media(max-width:950px) {
    .content{
        transform: scale(0.75);
        overflow-x: scroll;overflow-y: hidden;
        flex-wrap: nowrap;
    }
    .edit,.edit-new {
        margin: 0;
    }
}